<!DOCTYPE html>
<html>
<head>
  <title>Robot Hearts Kitten</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  
<header>
  <h1>Robot &#x2764;'s Kitten</h1>
</header>
<div class="content">
<%= yield %>
</div>
<footer class="main-footer">
  <ul class="non-list">
    <li><%= link_to "Home", root_url, action: "get"  %>
    <li><%= link_to "HighScores", scoreboards_url, action: "get"  %>
    <li><%= link_to "Credits", credits_url, action: "get"  %>
    <li><%= link_to "Levels", levels_url, action: "get" %>
  </ul>
</footer>
</div>

</body>
</html>
