<!DOCTYPE html>
<html>
<head>
  <title>Robot Hearts Kitten</title>
  <!-- TODO: find another way to get the google font to load on Heroku? -->
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Press+Start+2P' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  
<header>
  <h1><%= link_to "Robot &#x2764;'s Kitten".html_safe, root_url %></h1>
</header>
<div class="content">
<%= yield %>
</div>
<footer class="main-footer">
  <ul class="non-list">
    <li><%= link_to "Home", root_url, action: "get"  %>
    <li><%= link_to "HighScores", scoreboards_url, action: "get"  %>
    <li><%= link_to "Credits", credits_url, action: "get"  %>
    <li><%= link_to "Levels", levels_url, action: "get" %>
  </ul>
</footer>
</div>

</body>
</html>
